**/node_modules
**/oh_modules
/local.properties
/.idea
**/build
**/dist
**/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/.cxx
**/**/generated
**/**/hm_*
**/.idea
**/.DS_Store
**/.VSCodeCounter
**/**/*package-lock.json5
**/**/BuildProfile.ets